.about {
  width: 320px;
  margin: 0 auto;

  @include padding-content-mobile;
  padding-top: 25px;
  padding-bottom: 33px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-weight: bold;
}

.about__title {
  margin: 0;
  padding-bottom: 25px;
  font-size: 25px;
  line-height: 30px;
}

.about__list {
  @include list-reset;
  font-size: 17px;
  line-height: 20px;
}

.about__item {
  padding-top: 60px;
  margin-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .about {
    width: $tablet-width;

    @include padding-content;
    padding-top: 47px;
    padding-bottom: 28px;
  }

  .about__title {
    margin-bottom: 18px;
    margin-left: -6px;
    font-size: 43px;
    line-height: 50px;
  }

  .about__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 470px;
    font-size: 20px;
    line-height: 22px;
  }

  .about__item {
    width: 334px;
    margin-bottom: 51px;
  }
}

@media (min-width: $desktop-width) {
  .about {
    width: 700px;
    padding-top: 58px;
    padding-bottom: 34px;
    padding-left: 0;
    padding-right: 0;
  }

  .about__item {
    width: 350px;
  }

  .about__title {
    font-size: 53px;
    line-height: 57px;
  }
}
