.about {
  width: 320px;
  margin: 0 auto;

  @include padding-content-mobile;
  padding-top: 25px;
  padding-bottom: 33px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-weight: bold;
}

.about__title {
  margin: 0;
  padding-bottom: 25px;
  font-size: 25px;
  line-height: 30px;
}

.about__list {
  @include list-reset;
  font-size: 17px;
  line-height: 20px;
}

.about__item {
  position: relative;
  margin-bottom: 23px;
  padding-top: 60px;

  &::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 37px;
    top: 6px;
    left: -6px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--flower::before {
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--money::before {
    background-image: url("../img/icon-feature-money.svg");
  }

  &--heart::before {
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--clew::before {
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--rocket::before {
    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--gift::before {
    background-image: url("../img/icon-feature-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .about {
    width: $tablet-width;

    @include padding-content;
    padding-top: 47px;
    padding-bottom: 28px;
  }

  .about__title {
    margin-bottom: 18px;
    margin-left: -6px;
    font-size: 43px;
    line-height: 50px;
  }

  .about__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 470px;
    font-size: 20px;
    line-height: 22px;
  }

  .about__item {
    width: 334px;
    margin-bottom: 51px;

    &--flower {
      order: -5;
    }

    &--money {
      order: -3;
    }

    &--clew {
      order: -5;
    }

    &--rocket {
      order: -1;
    }
  }
}

@media (min-width: $desktop-width) {
  .about {
    width: 700px;
    padding-top: 58px;
    padding-bottom: 34px;
    padding-left: 0;
    padding-right: 0;
  }

  .about__item {
    width: 350px;
  }

  .about__title {
    font-size: 53px;
    line-height: 57px;
  }
}
