.contacts {
  padding-top: 18px;
  padding-bottom: 40px;
}

.contacts__wrapper {
  width: 320px;
  margin: 0 auto;

  @include padding-content-mobile;
}

.contacts__title {
  margin-bottom: 26px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  @include list-reset;
  margin-bottom: 8px;
}

.contacts__item {
  margin-bottom: 29px;
  line-height: 30px;
  color: rgb(68, 68, 68);
}

.contacts__field {
  width: 75px;
}

.contacts__value {
  width: 180px;
}

.contacts__link {
  color: rgb(68, 68, 68);
  border-bottom: 1px solid rgb(98, 209, 186);

  &[href]:hover,
  &[href]:focus {
    color: rgb(70, 193, 174);
  }

  &[href]:active {
    color: rgb(70, 193, 174);
    opacity: 0.3;
  }
}

.contacts__interactive {
  width: 100%;
  height: 457px;
  margin-bottom: 35px;
}

.contacts__image {
  display: block;
  position: relative;
  width: 320px;
  margin: 0 auto;

  &::after {
    content: "";
    position: absolute;
    top: 43%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 67px;
    height: 100px;
    background-image: url("../../img/icon-map-pin.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.contacts__write {
  width: 100%;
  margin-top: 5px;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 0;
    padding-bottom: 38px;
  }

  .contacts__wrapper {
    width: $tablet-width;

    @include padding-content;
    padding-top: 21px;
    padding-bottom: 20px;

    &--background {
      position: relative;
      padding-top: 40px;
    }

    &--background::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(180deg);
      width: 100%;
      height: 17px;
      background-image: url("../../img/bg-zigzag-line.svg");
      background-position: center;
      background-repeat: repeat-x;
      background-size: contain;
    }
  }

  .contacts__title {
    position: relative;
    margin-bottom: 48px;
    margin-left: -5px;
    padding-right: 60px;
    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";
      position: absolute;
      width: 47px;
      height: 81px;
      top: -14px;
      right: 3px;
      background-image: url("../../img/icon-flag.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .contacts__list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .contacts__item {
    font-size: 17px;
  }

  .contacts__value {
    width: 222px;

    &--mail {
      width: 204px;
      margin-right: 55px;
    }
  }

  .contacts__image {
    width: 768px;

    &::after {
      top: 41%;
      left: 52%;
    }
  }

  .contacts__write {
    display: block;
    width: 230px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    padding-bottom: 86px;
  }

  .contacts__wrapper {
    width: 1050px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;

    &--background {
      padding-top: 120px;
    }

    &--background::after {
      height: 23px;
    }
  }

  .contacts__title {
    padding-left: 175px;
    font-size: 53px;
    line-height: 57px;

    &::after {
      top: -8px;
      left: 68px;
    }
  }

  .contacts__list {
    width: 350px;
    margin-left: 175px;
  }

  .contacts__value {
    width: 225px;

    &--mail {
      width: 204px;
    }
  }

  .contacts__map {
    position: absolute;
    top: 95px;
    left: 50%;
    width: 525px;
  }

  .contacts__image {
    width: 525px;

    &::after {
      top: 42%;
      left: 52%;
    }
  }

  .contacts__write {
    display: inline-block;
    vertical-align: middle;
    margin-top: 24px;
    margin-left: 175px;
  }
}
