.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  min-height: 80px;
}

.copyright__text {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
}
