.making {
  @include padding-content-mobile;
  margin-bottom: 55px;
}

.making__title {
  margin: 0;
  padding-left: 90px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  border: 1px solid rgb(237, 237, 237);
  border-bottom: none;
}

.making__info {
  @include padding-content-mobile;
  border: 1px solid rgb(237, 237, 237);
  border-top: none;
}

.making__description {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 25px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(68, 68, 68);
}

.making__order {
  width: 100%;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .making {
    display: flex;
    flex-direction: column;

    @include padding-content;
  }

  .making__video {
    order: -1;
  }

  .making__info {
    padding-left: 40px;
    padding-right: 40px;
  }

  .making__title {
    font-size: 20px;
  }

  .making__description {
    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .making {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    height: 454px;
  }

  .making__title {
    flex-shrink: 0;
    width: 368px;
    padding-left: 80px;
  }

  .making__video {
    align-self: flex-start;
    width: 682px;
    margin-top: auto;
  }

  .making__info {
    flex-shrink: 0;
    width: 368px;
    margin-left: -368px;
    padding-top: 160px;
    padding-left: 80px;
    padding-right: 55px;
  }
}
