.order-form {
  padding-bottom: 55px;
  background-color: $bg-white;
}

.order-form__container {
  width: 320px;
  margin: 0 auto;

  @include padding-content-mobile;
}

.order-form__description {
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 13px;
  font-weight: 400;
  color: rgb(68, 68, 68);
}

.order-form__group {
  margin: 0;
  padding: 0;
  padding-bottom: 27px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  border: none;

  &:nth-child(2) {
    padding-bottom: 10px;
  }

  &:nth-child(3),
  &:nth-child(4) {
    padding-bottom: 20px;
  }

  &:nth-child(5) {
    padding-bottom: 16px;
  }

  &:nth-child(6) {
    padding-bottom: 11px;
  }
}

.order-form__title {
  position: relative;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -3px;
  padding-bottom: 25px;
  padding-right: 25px;
  line-height: 16px;
  color: rgb(99, 209, 187);
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 25%;
    right: 0;
    width: 198px;
    height: 1px;
    background-color: rgb(98, 209, 186);
  }

  &--email::before {
    width: 180px;
  }
}

.order-form__group:nth-child(4) .order-form__title {
  padding-bottom: 3px;
}

.order-form__group:nth-child(5) .order-form__title {
  padding-bottom: 5px;
}

.order-form__list {
  @include list-reset;
}

.order-form__item {
  line-height: 18px;
  color: rgb(0, 0, 0);

  &--option {
    padding-left: 62px;
    padding-top: 10px;
    padding-bottom: 15px;
  }

  &--checkbox {
    padding-bottom: 32px;
    padding-top: 11px;
  }

  &--text {
    margin-top: 5px;
  }
}

.order-form__input,
.order-form__textarea {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 17px;
  line-height: 22px;
  color: rgb(68, 68, 68);

  &:hover,
  &:focus {
    border-color: rgb(98, 209, 186);
  }
}

.order-form__input {
  margin-bottom: 14px;
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  
  &--tel,
  &--email {
    padding-right: 40px;
  }
}

.order-form__textarea {
  height: 142px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  border: 2px solid rgb(68, 68, 68);
  resize: none;
}

.order-form__input--radio + label {
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: -62px;
    top: -5px;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(68, 68, 68);
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    left: -51px;
    top: 6px;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border-radius: 50%;
  }

  &:hover::before,
  &:focus::before {
    border-color: rgb(98, 209, 186);
  }

  &:active::before {
    border-color: rgba(68, 68, 68, 0.3);
  }

  &:active::after {
    background-color: rgb(98, 209, 186);
  }
}

.order-form__input--radio:checked + label {
  &::after {
    background-color: rgb(98, 209, 186);
  }

  &:active::after {
    background-color: transparent;
  }
}

.order-form__input--checkbox + label {
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: -62px;
    top: -5px;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(68, 68, 68);
  }

  &::after {
    content: "";
    position: absolute;
    left: -52px;
    top: 1px;
    width: 20px;
    height: 21px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover::before,
  &:focus::before {
    border-color: rgb(98, 209, 186);
  }

  &:active::before {
    border-color: rgba(68, 68, 68, 0.3);
  }

  &:active::after {
    background-image: url("../../img/icon-tick.svg");
  }
}

.order-form__input--checkbox:checked + label {
  &::after {
    background-image: url("../../img/icon-tick.svg");
  }

  &:active::after {
    background-image: none;
  }
}

.order-form__input--tel:hover ~ .order-form__label--tel,
.order-form__input--tel:focus ~ .order-form__label--tel {
  &::after {
    background-image: url("../../img/icon-phone-green.svg");
    opacity: 1;
  }
}

.order-form__input--email:hover ~ .order-form__label--email,
.order-form__input--email:focus ~ .order-form__label--email {
  &::after {
    background-image: url("../../img/icon-mail-green.svg");
    opacity: 1;
  }
}

.order-form__label {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -6px;
    right: 0;
    width: 40px;
    height: 35px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
  }

  &--tel::after {
    background-image: url("../../img/icon-phone.svg");
  }

  &--email::after {
    background-image: url("../../img/icon-mail.svg");
  }
}

.order-form__note {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: rgb(68, 68, 68);
}

.order-form__send {
  width: 100%;
  margin-top: 28px;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .order-form {
    padding-top: 46px;
    padding-bottom: 49px;
    padding-left: 0;
    padding-right: 0;
  }

  .order-form__container {
    width: $tablet-width;
    padding-left: 0;
    padding-right: 0;
  }

  .order-form__description {
    @include padding-content;
    font-size: 17px;
    line-height: 30px;
  }

  .order-form__group {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 19px;

    &:nth-child(2) {
      padding-top: 51px;
      padding-bottom: 30px;
    }

    &:nth-child(3) {
      padding-top: 47px;
      padding-bottom: 29px;
    }

    &:nth-child(4) {
      padding-top: 47px;
    }

    &:nth-child(5) {
      padding-top: 0;
      padding-bottom: 36px;
    }

    &:nth-child(6) {
      padding-top: 47px;
      padding-bottom: 20px;
    }

    &--grey {
      background-color: $bg-darkgrey;
    }
  }

  .order-form__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @include padding-content;

    &--send {
      justify-content: space-between;
      align-items: center;
      margin-top: 23px;
    }
  }

  .order-form__group--grey .order-form__input,
  .order-form__group--grey .order-form__textarea {
    background-color: $bg-darkgrey;
  }

  .order-form__title {
    width: 167px;
    margin-top: 19px;

    &::before {
      content: none;
    }
  }

  .order-form__group:nth-child(5) .order-form__title {
    margin-top: 6px;
  }

  .order-form__input,
  .order-form__textarea {
    font-size: 19px;
    line-height: 23px;
  }

  .order-form__textarea {
    margin-top: 3px;
    margin-left: 41px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .order-form__list {
    display: flex;
    flex-wrap: wrap;
  }

  .order-form__item {
    &--option {
      margin-bottom: 20px;
      margin-left: 31px;
      padding-top: 18px;
      padding-bottom: 18px;
      padding-left: 77px;
    }

    &--checkbox {
      width: 232px;
      margin-bottom: 21px;
    }

    &--checkbox:nth-child(2n) {
      width: auto;
    }

    &--text {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 15px;
      margin-bottom: 7px;
      margin-left: 32px;
    }
  }

  .order-form__input {
    min-width: 334px;
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;

    &--tel,
    &--email {
      margin-top: 15px;
      margin-left: 44px;
      padding-right: 60px;
    }

    &--email {
      margin-top: 2px;
    }
  }

  .order-form__item--text label {
    margin-right: 25px;
  }

  .order-form__input--radio + label {
    &::before {
      top: -12px;
      left: -81px;
      width: 53px;
      height: 53px;
    }

    &::after {
      top: 5px;
      left: -63px;
    }
  }

  .order-form__input--checkbox + label {
    &::before {
      top: -13px;
      left: -76px;
      width: 53px;
      height: 53px;
    }

    &::after {
      top: 3px;
      left: -65px;
      width: 32px;
    }
  }

  .order-form__label {
    &--tel::after {
      top: 0;
      right: 18px;
      height: 52px;
    }

    &--email::after {
      top: -1px;
      right: 18px;
    }
  }

  .order-form__note {
    order: 1;
    font-size: 17px;
    line-height: 30px;
  }

  .order-form__send {
    width: 230px;
    margin-top: 11px;
  }
}

@media (min-width: $desktop-width) {
  .order-form {
    padding-top: 87px;
  }

  .order-form__container {
    width: $desktop-width;
    padding-left: 0;
    padding-right: 0;
  }

  .order-form__wrapper {
    &--send {
      width: 800px;
      margin-left: 175px;
    }
  }

  .order-form__description {
    margin-left: 175px;
    margin-right: 175px;
  }

  .order-form__group {
    &:nth-child(2) {
      padding-bottom: 28px;
    }
  }

  .order-form__title {
    min-width: 167px;
    padding-right: 0;
    padding-left: 60px;
  }

  .order-form__list,
  .order-form__input,
  .order-form__textarea {
    width: 700px;
  }

  .order-form__item--option {
    width: 100%;
    margin-top: 1px;
    margin-left: 11px;
    padding-left: 81px;
  }

  .order-form__item {
    &--checkbox {
      width: 194px;
      margin-bottom: 24px;
      padding-top: 14px;
    }

    &--checkbox:nth-child(2n) {
      width: 194px;
    }

    &--text {
      margin-left: 12px;
    }
  }

  .order-form__list {
    &--checkbox {
      justify-content: space-between;
      width: 730px;
    }
  }

  .order-form__input {
    &--tel,
    &--email {
      margin-left: 12px;
    }
  }

  .order-form__label {
    &::after {
      right: 0;
    }
  }

  .order-form__item--text label {
    padding-top: 2px;
  }

  .order-form__input--checkbox + label {
    &::before {
      top: -11px;
      left: -80px;
    }

    &::after {
      top: 5px;
      left: -70px;
    }
  }

  .order-form__item--checkbox:nth-child(3n) > label {
    &::before {
      top: 6px;
    }

    &::after {
      top: 23px;
    }
  }

  .order-form__textarea {
    margin-left: 11px;
  }

  .order-form__send {
    margin-top: 7px;
  }
}
