.page-header {
  background-color: $bg-white;
}

.page-header__wrapper {
  z-index: 1;
  width: 320px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.page-header__logo {
  display: block;
  width: 86px;
  height: 35px;
  margin: 0 auto;
  margin-top: 22px;
  margin-bottom: 22px;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.page-header__info {
  width: 0;
  height: 0;
  font-size: 0;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    position: relative;
    display: flex;
    width: $tablet-width;
    height: 88px;

    @include padding-content;
    border-bottom: 1px solid rgb(236, 236, 236);
  }

  .page-header__logo {
    width: 113px;
    border-bottom: none;
    flex-shrink: 0;
    z-index: 1;
  }

  .page-header__info {
    position: absolute;
    right: 50px;
    bottom: -58px;
    width: auto;
    height: auto;
    font-size: 15px;
    color: rgb(68, 68, 68);
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    flex-wrap: wrap;
    width: $desktop-width;
  }

  .page-header__logo {
    width: 148px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 9px;
  }
}
