.reviews {
  width: 320px;
  margin: 0 auto;

  @include padding-content-mobile;
  padding-bottom: 40px;
}

.reviews__title {
  margin: 0;
  padding-bottom: 20px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  padding-bottom: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 30px;
  font-weight: 400;
  color: rgb(68, 68, 68);
}

.reviews__name {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  font-style: normal;
}

.reviews__login {
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: rgb(68, 68, 68);
}

.reviews__controls {
  display: flex;
  margin-top: 30px;
  margin-bottom: 35px;
}

.reviews__arrow {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border: 1px solid rgb(236, 236, 236);
  background-color: $bg-white;
}

.reviews__arrow--prev {
  border-right: none;
}

.reviews__write {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .reviews {
    position: relative;
    width: $tablet-width;

    @include padding-content;
    padding-top: 85px;
    padding-bottom: 50px;
    background-image: url("../../img/review@1x.jpg");
    background-repeat: no-repeat;
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__text {
    font-size: 17px;
    line-height: 30px;
  }

  .reviews__name {
    font-size: 18px;
  }

  .reviews__controls {
    position: absolute;
    bottom: 50px;
    right: 50px;
    margin-bottom: 0;
  }

  .reviews__arrow {
    border: none;
  }

  .reviews__write {
    position: absolute;
    top: 80px;
    right: 50px;
    width: 175px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: $desktop-width;
  }

  .reviews__wrapper {
    padding-left: 175px;
    padding-right: 100px;
  }
}
